@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Regular.ttf');
}

* {
    font-family: Satoshi;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    /* make non-draggable */
    user-drag: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

#canvas-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 1px;
}

.icon-button, .connect-button {
    height: 26px;
    white-space: nowrap;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    vertical-align: center;
    border-radius: 0 0 6px 6px;
    border: 1px solid rgba(220, 220, 220, 0.7);
    backdrop-filter: blur(4px);
    padding: 4px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.icon-button-inset {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.icon-button:active {
    box-shadow: rgba(50, 50, 93, 0.35) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.5) 0px -2px 6px 0px inset;
}

.button-disabled:active {
    box-shadow: none !important;
}

.button-text {
    vertical-align: super;
}

.button-disabled {
    filter: opacity(60%);
    backdrop-filter: blur(10px);
    cursor: wait !important;
}

/* wallet selection overlay */

#wallet-selection {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

#wallet-selection-bg {
    position: fixed;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    background: none;
    pointer-events: all;
}

#wallet-selection-center {
    width: 560px;
    pointer-events: all;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -280px 0 0 -280px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.wallet-selection-option {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, /* rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, */ rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid rgba;
    border-radius: 4px;
    padding: 30px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.wallet-selection-option:not(:first-child) {
    margin-top: 5px;
}

.wallet-selection-option:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.wallet-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 38px;
    height: 38px;
}

.wallet-selection-option-name {
    color: #333;
    margin-left: 50px;
    font-weight: lighter;
    vertical-align: middle;
}

.wallet-disabled {
    cursor: not-allowed;
}

/* submit button spinner */
.spinning {
    content: url('/static/icons/spinner-solid.svg');
    animation: rotate 3s infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}

#social-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        align-content: center;
        position: fixed;
        bottom: 10%;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
}

.button-rounded {
    margin: 30px;
    border-radius: 10px;
    height: 52px;
    width: 52px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    vertical-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(220, 220, 220, 0.7);
    backdrop-filter: blur(4px);
    padding: 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


@media only screen and (hover: none) and (pointer: coarse) {
    #wallet-selection-center {
        font-size: 2em;
    }

    .icon {
        width: 70px;
        height: 70px;
        padding: 1px;
    }

    .icon-button {
        height: 70px;
        width: 70px;
    }

    @media (orientation: landscape) {
        #social-container {
            flex-direction: column;
        }

        .icon {
            width: 40px;
            height: 40px;
            padding: 1px;
        }

        .icon-button {
            height: 40px;
            width: 40px;
        }

        #wallet-selection-center {
            font-size: 1em;
            width: 500px;
            margin: -100px 250px 0 -250px;
        }
    }
}
